.html,

header {
  display: flex;
  place-items: center;
  font-size: 20px;
}

.logo {
  padding-left: 40px;
  padding-top: 35px;
  width: 70px;
  height: 70px;
}

.judul {
  display: flex;
  align-items: flex-start;
  margin-left: 150px;
  margin-top: -60px;
  color: yellow;
}

body{
  background: rgba(184, 120, 74, 0.692);
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.game-bgk {
  width: 50px;
  height: 50px;
  padding: 20px;
}

/* player 1  */

.nama-1 {
  position: absolute;
  left: 150px;
  top: 90px;
  color: black;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tombol-player img {
  width: 110px;
  height: 110px;
  padding: 0;
  margin-top: 60px;
  padding-left: 115px;
  padding-top: 80px;
}

.gambar {
align-self: center;
cursor: pointer;
}

/* versus */

.versus {
  bottom: -100px;
  clear:both;
  font-size: 50px;
  width: 300px;
  padding-left: 410px;
  color: red;
  align-self: center;
  margin-top: -350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* tombol refresh */

.tombol-refresh img {
  width: 100px;
  height: 100px;
}

.tombol-refresh {
  position: absolute;
  width: 200px;
  padding-left: 430px;
  margin-top: 70px;
}

/* Computer */

.nama-2 {
  position: absolute;
  width: 380px;
  height: 70px;
  left: 280px;
  top: 90px;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-left: 425px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tombol-player2 img {
  width: 110px;
  height: 110px;
  display: flex;
  padding: 30px;
  margin-bottom: 85px;
}

.tombol-player2 {
  padding-left: 780px;
  margin-top: -430px;
}

.gambar-com {
  align-self: center;
  cursor: pointer;
  }

.winBox {
    height: 100px;
    display: grid;
    place-items: center;
    background: #4C9654;
    border-radius: 10px;
    margin:  15px auto;
    padding: 15px;
    
}

.drawBox {
    height: 100px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin:  15px auto;
    padding: 15px;
    background: #035B0C;
    border-radius: 10px;
    
}