<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Puthut Pandu Wijaya" />
    <meta name="descriptions" content="yang kalah bayar Rp.5000" />
    <title>Challenge Chapter 4</title>

    <!-- Stylesheet BGK-->
    <link rel="stylesheet" href="/style/styleGame.css" />
  </head>
  <body>

    <!-- navigation -->
    <header>
      <div class="julo">
        <img class="logo" src="/img-game/logo.png" />
        <h1 class="judul">Batu Gunting Kertas</h1>
        <button class="btn btn-primary" type="submit" role="button">
          <a href="/">Kembali ke halaman utama</a>
        </button>
      </div>
    </header>

    <!-- Player 1 Vs Player 2 -->

    <div class="game-bgk">
      <!-- Player 1 -->
      <h1 class="nama-1">Player 1</h1>
      <div class="player">
        <div class="tombol-player">
          <button
            class="player-tools app gambar"
            style="background-color: transparent; border: none"
            id="click-b"
          >
            <img src="/img-game/batu.png" alt="batu" />
          </button>
          <button
            class="player-tools app gambar"
            style="background-color: transparent; border: none"
            id="click-g"
          >
            <img src="/img-game/gunting.png" alt="gunting" />
          </button>
          <button
            class="player-tools app gambar"
            style="background-color: transparent; border: none"
            id="click-k"
          >
            <img src="/img-game/kertas.png" alt="kertas" />
          </button>
        </div>
      </div>

      <!-- Navigasi & Refresh -->
      <div class="navigasi">
        <h2 class="versus" id="versus-box">Versus</h2>
      </div>

      <div class="tombol-refresh">
        <button
          class="player-tools app gambar-com"
          style="background-color: transparent; border: none"
        >
          <img class="refresh" src="/img-game/refresh.png" alt="mengulang" />
        </button>
      </div>

    <h1 class="nama-2">Player 2</h1>
    <div class="player2">
      <div class="tombol-player2">
        <button
          class="player-tools app gambar"
          style="background-color: transparent; border: none"
          id="click-b"
        >
          <img src="/img-game/batu.png" alt="batu" />
        </button>
        <button
          class="player-tools app gambar"
          style="background-color: transparent; border: none"
          id="click-g"
        >
          <img src="/img-game/gunting.png" alt="gunting" />
        </button>
        <button
          class="player-tools app gambar"
          style="background-color: transparent; border: none"
          id="click-k"
        >
          <img src="/img-game/kertas.png" alt="kertas" />
        </button>
      </div>
    </div>

    <!-- scirpt Javascript -->
    <script src="/public/script/game.js"></script>
    <!--  -->
  </body>
</html>

