<%- include('./template/head'); %>

<body class="work">
  <div class="navigation">
    <h1>muridnya Bli Kadek ni!</h1>
    <h10>tapi bukan murid yang pintar - pintar amat #SayaSadarDiri</h10>
  </div>
</body>

<%- include('./template/header'); %>
